{% extends 'base.html' %}

<!-- Provides the title of the page to be provided in the template -->
<!-- This should correspond with the block name provided in the base.html file -->
{% block title %}Home{% endblock %}

<!-- Provides the content of the page to be provided in the template -->
<!-- This should correspond with the block name provided in the base.html file -->
{% block content %}
    {% if user.is_anonymous == False %}
        <h1 class="text-center my-3">Welcome {{ user.first_name }} {{user.last_name}}!</h1>

        {% if todoitem_list %}
            <div class="container">
                <div class="row">
                    <h3 class="text-center mb-3">My Tasks</h3>
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                    {% for todoitem in todoitem_list %}
                        <a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">
                            <li class="list-group-item">{{ todoitem.task_name }}</li>
                        </a>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <h3 class="text-center mb-3">My Tasks</h3>
                    <p class="text-center">No tasks have been created.</p>
                </div>
            </div>
        {% endif %}

        {% if event_list %}
            <div class="container">
                <div class="row">
                    <h3 class="text-center my-3">My Events</h3>
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                    {% for event in event_list %}
                        <a href="{% url 'todolist:view_event' event.id %}" class="text-decoration-none">
                            <li class="list-group-item">{{ event.event_name }}</li>
                        </a>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <h3 class="text-center my-3">My Events</h3>
                    <p class="text-center">No events have been created.</p>
                </div>
            </div>
        {% endif %}

    {% else %}
        <h1 class="text-center my-3">You are not authorized to access this page.</h1>
        <p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p> 
    {% endif %}
{% endblock %}